


h1{
    color: blue;
    
}
h2{
    color: rgb(34, 212, 49);
    
}
h3{
 color: rgba(20, 30, 40, 50);
}

p{
    color: #e15f7e;
}
.one{
    width: 500px;
    height: 500px;
    color: rgb(0, 255, 13);
    background-color: aquamarine;
    background-image:url(images/image1.jpg);
    background-size: 400px 400px;
    background-position:center;
    background-repeat: no-repeat;
    overflow: auto;
    background-attachment: scroll;
}
h1{
    position: absolute;
    left: 300px;
    top: 500px;
}
h2{
    color: black;
}
h3{
    color: black;
}
h4{
    color: black;
}
h5{
    color: black;
}
h6{
    color: black;
}
p{
    color: black;
}