main{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
  
  
}
header{
    background-color: aquamarine;
    display: flex;
   
    height: 200px;
    margin-bottom: 10px;
    
}


.logo{
    background-color: blueviolet;
    flex-basis:400px;
    order: 3;
    margin-inline: 10px;
   

}
.heading{
    background-color: rgb(223, 226, 43);
    flex-basis: 300px;
    margin-inline: 10px;

}
.menu{
    background-color: rgb(55, 226, 43);
    flex-basis: 400px;
    margin-inline: 10px;

}

section{
    background-color: aqua;
    display: flex;
    height: 400px;
   margin-bottom: 10px;
}
.one{
    background-color: rgb(125, 115, 230);
    flex-basis:400px;
    order: 2;
    margin-inline: 10px;
   
   

}
.two{
    background-color: rgb(211, 94, 40);
    flex-basis: 300px;
    margin-inline: 10px;

}
.three{
    background-color: rgb(223, 27, 158);
    flex-basis: 400px;
    margin-inline: 10px;

}
footer{
    background-color: darkolivegreen;
    flex-basis: 100px;
}

