*{
    margin: 0;
    padding: 0;
}
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    
    
}
aside{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-grow: 1;
   flex-basis: 50px;
    background-color: aquamarine;
   }






li ul{
    background-color: blue;
    display: none;
    
}
li:hover ul{
    display: flex;
    flex-direction: column;
}
li ul li ul li{
    display: none;
}
li ul li:hover ul li{
    display:flex;
    flex-direction: column;
}
li ul li ul{
    position: relative;
    left: -125px;
}
li a{
    color: aliceblue;
}
li ul li ul{
    background-color: brown;
}
li ul{
    position: absolute;
}
li ul li ul{
    position: relative;

}
li>ul>li>ul{
    position: absolute;
}
li :hover ul{
    display: flex;
}
.mainsection{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-grow: 2;
   flex-basis: 500px;
    background-color: rgb(174, 127, 255);
  
  

    

}
li{
    list-style: none;
    padding: 10px;
    color: rgb(234, 75, 7);
    
}
.login{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.logmenu{
    display: flex;
    background-color: rgb(224, 213, 199);
    flex-direction: column;
    flex-wrap: wrap;
}
menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left{
    display: flex;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.para-image{
    display: flex;
    flex-wrap: wrap;
}
.para p{
    flex-basis: 400px;
}
.right{
    display: flex;
}
.left li{
    background-color: rgb(127, 173, 229);
    border-style: solid;
    border: 0 2px 2px 2px;
    border-top: 0px;
    border-color: blue;
}
img{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: rgb(23, 21, 21);
    background-color: lightseagreen;
}
a{
    text-decoration: none;
}
.footer{
    background-color: darkolivegreen;
    text-align: center;
    flex-basis: 200px;
   
    
}


 @media all and (min-width:200px){
    h1{
        background-color: chartreuse;
    }
     @media all and (min-width:600px) {
        h1{
            background-color: blue;
        }
       
        
        
     }
}
 

   
    
    
 
 /* @media all and (max-width:800px){
    h1{
        background-color: rgb(205, 16, 35);
    }
}
@media all and (max-width:1000px){
    h1{
        background-color: rgb(49, 193, 30);
    }
}
@media all and (max-width:1200px){
    h1{
        background-color: rgb(251, 9, 166);
    }
} */